@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url('31E044_0_0.eot');
  src: url('31E044_0_0.eot?#iefix') format('embedded-opentype'),
    /* url('31E044_0_0.woff2') format('woff2'), */
    url('31E044_0_0.woff') format('woff'),
    url('31E044_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url('31E044_1_0.eot');
  src: url('31E044_1_0.eot?#iefix') format('embedded-opentype'),
    /* url('31E044_1_0.woff2') format('woff2'), */
    url('31E044_1_0.woff') format('woff'),
    url('31E044_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url('31E044_2_0.eot');
  src: url('31E044_2_0.eot?#iefix') format('embedded-opentype'),
    /* url('31E044_2_0.woff2') format('woff2'), */
    url('31E044_2_0.woff') format('woff'),
    url('31E044_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueLTStd-BdCn';
  src: url('31E044_3_0.eot');
  src: url('31E044_3_0.eot?#iefix') format('embedded-opentype'),
    /* url('31E044_3_0.woff2') format('woff2'), */
    url('31E044_3_0.woff') format('woff'),
    url('31E044_3_0.ttf') format('truetype');
}